@media(max-width: 768px)
{
    .header 
    {
        justify-content: center;
    }
    .netflix-cta
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .homepage-texts
    {
        margin: 0;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .homepage-texts h2 
    { 
        padding: 2rem;
        width: 86%;
        text-align: center;
        color: #111;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        font-size: 1rem;
    } 
    b 
    {
        color: #fff;
    }
    .rmort
    {
        text-align: center;
        width: 120px;
        display: block;
        position: absolute;
        bottom: 3rem;
        right: 0;
        animation: animar 1s ease alternate infinite;
    }
   #list img 
   {
       width: 130px;
   }
   .embed 
   {
       padding: 0;
   }
   @keyframes animar
   {
    from 
    {
        transform: translateY(40px);
    }
    to 
    {
        transform: translateY(0);
    }}
}