@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sedgwick+Ave&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body 
{
    font-family: "Poppins",sans-serif;
    background: #111;
}
.homepage 
{
    background: url('https://sm.ign.com/ign_br/news/r/rick-morty/rick-mortys-dan-harmon-working-on-comedy-set-in-ancient-gree_5x75.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
a 
{
    color: #fff;
}
h3
{
    text-align: center;
    color: #fafafa;
    max-width: 100%;
    font-family: Sedgwick Ave, cursive;
    font-size: 1.5rem;
}
.card 
{
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    
}

.list 
{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    position: relative;
}
.list li 
{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: #fafafa;
    font-weight: bold;
    
    text-align: center;
}

.list img 
{
    transform: scale(0.958);
    transition: .5s all ease;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 8px 8px 22px rgba(0, 0, 0, 0.486);
}
.list img:hover 
{
    transform: scale(1);
}
.list img:hover .list h3 
{
    display: flex;
}
.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: vh;
    margin: 1rem 5rem;
}
.header nav 
{
    display: flex;
}
.header .logo 
{
    width: 120px;
}
.header li
{
    
    transition: all .3s ease;
    transform: scale(0.9);
}
.header li a 
{
    background-color: #ff0055;
    padding: 10px 1rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.322);
    border-radius: 8px;
    cursor: pointer;
}
.header li:hover 
{
    transform: scale(1);
}
.homepage-texts 
{
    margin: 0 5rem;
    
}
.homepage-texts h2 
{
    
    color: #fafafa;
    text-shadow: 8px 8p 18px rgba(0, 0, 0, 0.39);
    width: 50%;
}
b 
{
    color: rgb(0, 183, 255);
}
.netflix 
{
    height: 30vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}
.netflix-cta
{
    display: flex;
    align-items: center;
}
.netflix-cta img 
{
    margin-left: 1rem;
    cursor: pointer;
}
.fa-chevron-down
{
    display: none;
}
.embed
 {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin-top: 2rem;
     padding: 0 5rem;
 }
 .embed iframe 
 {
     width: 100%;
     border-radius: 12px;
     margin: 1rem;
 }
.rmort 
{
    display: none;
}
.footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
}